@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@400;700&family=Open+Sans&display=swap');

body {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .App {
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .mobilewebwrapper {
    height: 100vh;
  }
}

.mobilewebwrapper {
  max-width: 768px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 90vh;
}

.headercontainer {
  position: relative;
  text-align: center;
}

.header-background {
  width: 100vw;
  max-width: 100%;
  max-height: 150px;
}

.logo {
  color: #FFF;
  text-align: center;
  font-family: Manjari;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
}

.logotexthighlight {
  color: #9B2929;
}

.navbar {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100vw;
  justify-content: space-around;
  max-width: 100%;
}

.links {
  color: #FFF;
  text-align: center;
  font-family: Manjari;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  width: 50vw;
  justify-content: space-between;
  max-width: 200px;
}

.homepage {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  height: 75%
}

.intro-title {
  color: #000;
  font-family: Manjari;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  padding: 0 5vw;
}

.intro-text {
  color: #000;
  font-family: Manjari;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding: 20px 5vw;
}

.hero-image {
  max-width: 400px;
  margin: auto;
}

.playgrounditemcontainer {
  display: flex;
  justify-content: space-evenly;
}

.playgroundimage {
  width: 55%;
  height: 250px;
}

.playgroundtext {
  width: 35%;
}

.playgroundtexttitle {
  color: #000;
  font-family: Manjari;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0 0 20px 0;
}

.playgroundtextpara {
  color: #000;
  font-family: Manjari;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0;
}